header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
    padding: 5px;
}

h1 {
    font-family: Futura, Trebuchet MS;
    font-weight: bold;
    color: #AC2B37;
    font-size: 28px;
    padding: 6px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#content {
    padding:3px;
}

p {
    padding: 3px;
}